.more-info-container {
    grid-area: moreInfo;
    width: 100%;
    padding: 6rem 0;
    margin: 0;
    


    .info-group-wrapper {
        margin: auto;
        max-width: 1200px;

        h2 {
            color: $text-color-gray;
            padding: 2rem 1rem;
            font-size: 1.8rem;
            font-family: $font-family-chill;
            text-align: center;
        }

    }

    .info-group {
        padding: 0 1rem .8rem 1rem;
    }

    .info-title {
        padding: 1rem 2rem;
        background: $bg-dark-2;
        border: $border;
        color: $main-color-6;
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        align-items: center;
        cursor: pointer;
        user-select: none;

        svg {
            font-size: 2.6rem;
            color: $main-color-6;

        }

        h3 {
            font-size: 1.2rem;
        }
    }

    .info-content {
        padding: 1.5rem;
        background: $bg-light-darker;
        border: $border;
        margin-top: .5rem;
        border-radius: 20px;
        display: none;

        p {
            margin-bottom: 1rem;
            font-size: 1.1rem;
            line-height: 1.6rem;
            color: $main-color-6;

            a {
                color: $main-color;
                text-decoration: underline;
                cursor: pointer;
            }
        }
    }

    .displayBlock {
        display: block;
    }


}

.wave-yellow-reverse {
    margin-bottom: -3px;
    width: 110%;
    margin-left: -5px;
}

.wave-yellow {
    margin-top: -3px;
    width: 110%;

}