.header {
    position: fixed;
    width: 100%;
    top: 0rem;
    z-index: 3;
    height: 80px;
    padding: 0 calc(2rem - 12px) 0 2rem;
    height: 70px;
    background-color: rgba(218, 197, 167, .07);
    border-bottom: $border;
    backdrop-filter: blur(40px);
    transition: height 0.3s ease;

}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    max-width: 1400px;
    min-width: 220px;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    height: 100%;
}

.nav-logo-img {
    height: 45px;
    width: 45px;
}

.icons {
    display: flex;
    align-items: center;

    cursor: pointer;
    height: 100%;

    svg {
        color: $white-100;
        font-size: 2rem;
        transition: color .3s ease;
    }



    .icon-container:hover {

        svg {
            color: $main-color;
        }

        img {
            transform: scale(1.2);
            color: $main-color;

        }
    }
}

.icon-container {
    width: 3rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.navbar {
    position: fixed;
    right: 0;
    width: 100%;
    height: auto;
    background-color: $bg-dark;
    padding: 1rem 2rem 2rem;
    overflow-y: auto;
    z-index: 1;
    top: -110%;
    visibility: hidden;
    // transition: top .4s ease, visibility .4s ease;
}



.hamburger-btn-close {
    position: absolute;
    width: 2rem;
    height: 2rem;
    top: 1.5rem;
    right: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition:  background-color .3s ease;
    border: none;
    border-radius: 3px;

}

.hamburger-btn-close:hover {
   
    background-color: $main-color;
   
}

.nav-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-link {
    font-size: 1rem;
    text-transform: uppercase;
    color: $main-color;
    line-height: 1.5;
    letter-spacing: 1.5px;
    display: block;
    padding: 1rem 0;
    transition: color 0.5s ease;
}

.nav-link:hover {
    color: $main-color-6;

}

.nav-link.active {
    color: $main-color-6;

}


.nav-links {
    li {
        width: 100%;
        display: block;
        text-align: center;
        border-bottom: 1px solid $main-color-6;
    }
}

.nav-links {
    li:first-child {
        border-top: 1px solid $small-menu-border;
        margin-top: 1rem;
    }
}

.open {
    top: 0;
    visibility: visible;
}



/* Görgetéskor alkalmazott stílusok */
.header.scrolled {
    background: $bg-header-dark ;
    /* Átlátszó fekete háttér */
    height: 70px;
    /* Csökkentett magasság */
    border-bottom: 1px solid #f5b32f8c;
}

/* Logó stílusok */
.nav-logo-img {
    transition: all 0.3s ease;
}

.header.scrolled .nav-logo-img {
    width: 45px;
    /* Csökkentett logó méret */
    height: 45px;
    /* Csökkentett logó méret */
}