.scroller {
    max-width: 350px;
    position: absolute;
    bottom: 3.8rem;
}

.scroller__inner {
    // padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.scroller[data-animated="true"] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
            transparent,
            white 20%,
            white 80%,
            transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 50s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/* general styles */

:root {
    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-primary-100: hsl(205, 15%, 58%);
    --clr-primary-400: hsl(215, 25%, 27%);
    --clr-primary-800: hsl(217, 33%, 17%);
    --clr-primary-900: hsl(218, 33%, 9%);
}

.tag-list {
    margin: 0;
    padding-inline: 0;
    list-style: none;
}

.tag-list li {
    // padding: 1rem;
    // background: var(--clr-primary-400);
    color: $main-color;
    border-radius: 0.5rem;
    box-shadow: 0 0.5rem 1rem -0.25rem var(--clr-primary-900);
}

//*----------------------------------------------------------------

.home {
    background: $bg-linear-gradient;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem 0;
    height: 100vh;
    position: relative;
    padding-bottom: 4rem;



    h1 {
        font-size: 5.5rem;
        font-family: $font-family-gam-i;
        font-weight: 400;
        letter-spacing: .1rem;
        line-height: 5rem;
        margin: 6rem 0 1rem;
        position: relative;
        opacity: 0;
        color: $main-color-8;
        animation-delay: .2s;
    }






    // .cursor {
    //     display: inline-block;
    //     width: 10px;          /* A kurzor szélessége */
    //     height: 7rem;       /* A kurzor magassága (hozzáigazíthatod a szöveg méretéhez) */
    //     background-color:$main-color-8; /* A kurzor színe */
    //        /* Kis távolság a szövegtől */
    //     animation: blink 1.4s step-end infinite; /* Villogó animáció */
    //     margin-left: 1.2rem;
    //     margin-bottom: -.5rem;

    // }

    // @keyframes blink {
    //     0% {
    //         opacity: 1; /* Látható */
    //     }
    //     50% {
    //         opacity: 0; /* Eltűnik */
    //     }
    //     100% {
    //         opacity: 1; /* Újra megjelenik */
    //     }
    // }



    .content-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-bottom: 5rem;
    }

    .home-paragraph {
        color: $main-color-6;
        font-family: $font-family-chill;
        font-size: 1.2rem;
        margin-bottom: 0;
        position: relative;
        animation-delay: .2s;
        opacity: 0;
        display: inline-block;
        white-space: nowrap;
    }

    .home-paragraph:nth-child(2) {
        display: none;
    }

    h3 {
        font-size: 1.4rem;
        margin-bottom: 1.5rem;
        font-family: $font-family-chill;
        font-weight: 400;
        letter-spacing: 1.5px;
        color: $main-color-6;
        position: relative;
        animation-delay: .2s;
        opacity: 0;
        padding: 0 1rem;
    }

    &-btn {
        position: relative;
        margin-bottom: 2rem;
    }

    .scrolling-text {
        display: block;
        height: 1.4rem;
        width: 100%;
        background-color: $main-color-2;
    }


    .home-down-arrow {
        position: absolute;
        bottom: 1rem;
        height: 2.5rem;
        width: 1.7rem;
        border: $border;
        border-color: $main-color-2;
        border-radius: 30px;
        padding-top: .2rem;
        display: flex;
        align-items: start;
        justify-content: center;

        svg {
            color: $main-color-6;
            font-size: 1.5rem;
            animation: moving_arrow 2s infinite ease-in-out;
        }
    }
}

.home-social-media {
    position: absolute;
    top: 30%;
    left: 0;
    display: none;
    flex-direction: column;
    gap: 1.2rem;
    padding-right: 1rem;
    background-color: $bg-light-darker;
    opacity: .7;
    z-index: 0;
    padding: 1rem;
    border-radius: 0 10px 10px 0;

    .soc-icon {
        opacity: .8;
        font-size: 2rem;
        color: $main-color;
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .soc-icon:hover {
        opacity: 1;
        transform: rotate(12deg);
    }



}

@keyframes moving_arrow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}