@media (min-width: 768px) {

    section {
        padding-top: 4rem;
    }

    .main-heading {
        h2 {
            font-size: 4.5rem;
        }

        span {
            font-size: 2.5rem;
        }
    }

    .scrollUp {
        visibility: visible;
        opacity: 1;
    }

    // about
    .btn-group,
    .project-btn-group {
        flex-direction: row;
        justify-content: center;
        gap: 3rem;

        .about-btn,
        .btn-secund {
            width: fit-content;
        }
    }

    .about-section {
        h3 {
            font-size: 2rem;
        }
    }

    .quote {
        p:first-child {

            line-height: 2.2rem;
        }

        p {
            font-size: 1.7rem;
        }
    }



    .project-grid {
        display: grid;
        grid-auto-rows: minmax(0px, 1fr);
        grid-template-columns: repeat(2, minmax(200px, 1fr));
    }


    .swiper-button-prev::after,
    .swiper-button-next::after {
        display: block;
    }

    .swiper-pagination {

        &.swiper-pagination-bullets.swiper-pagination-horizontal {
            display: none;
        }
    }

    .footer {

        .footerInfo {
            flex-direction: row;
            text-align: center;
            gap: 2rem;
            padding: .7rem 1rem;

            a {
                padding: .5rem;
            }
        }
    }

    .copyright-container {
        flex-direction: row;
        gap: 1rem;
    }

    .footer-social-media {
        gap: 3rem;
        padding: 1rem;
    }

    .impresszum {

        .page-owner-container,
        .hosting-provider-container {
            .content-item-container {
                display: flex;
                flex-direction: row;
            }

            h2 {
                font-size: 1.5rem;
            }

            strong,
            p {
                font-size: 1.2rem;
            }
        }
    }

    .policy {
        h2 {
            font-size: 1.5rem;
        }

        p {
            font-size: 1.2rem;
        }
    }

    .cookies {

        h1 {
            text-align: center;
            margin-bottom: 3rem;
        }

        h2 {
            font-size: 1.5rem;
        }

        p,
        a {
            font-size: 1.2rem;
        }
    }
}

@media (min-width: 992px) {
    .header {
        position: fixed;
        width: 900px;
        top: 1.5rem;
        left: 50%;
        transform: translate(-50%);
        z-index: 3;
        height: 70px;
        padding: 0 calc(2rem - 12px) 0 2rem;
        background-color: rgba(218, 197, 167, .07);
        backdrop-filter: blur(40px);
        border: 1px solid rgba(218, 197, 167, .15);
        border-radius: 2px;

    }

    .nav-logo-img {
        height: 50px;
        width: 50px;
    }

    //  header and nav
    .hamburger-btn-open {
        display: none;
    }


    .navbar {
        position: static;
        background: transparent;
        display: flex;
        justify-content: end;
        align-items: center;
        gap: 1rem;
        padding: 0;
        border: none;
        padding: 0 1rem;
        visibility: visible;

        .hamburger-btn-close,

        .nav-logo-img {
            display: none;
        }

        .nav-links {
            flex-direction: row;
            gap: 1.1rem;

            .nav-link {
                font-size: .9rem;
                padding: 0;
                padding-bottom: 0;
                background-image: linear-gradient($main-color, $main-color);
                background-size: 0 2px;
                background-repeat: no-repeat;
                background-position: 0 100%;
                transition: color 0.3s ease, background-size 0.3s ease;
            }

            .nav-link:hover {
                color: $main-color;
                background-size: 100% 2px;
            }

            .nav-link.active {
                color: $main-color;
                background-size: 100% 2px;
            }

            li {
                border: none;

            }

            li:first-child {
                margin-top: 0;
            }
        }
    }

    .home {
        h1 {
            font-size: 7rem;
            margin-bottom: 3rem;
        }

        h3 {
            font-size: 1.4rem;
        }

        p {
            font-size: 1.5rem;
        }

    }

    .home-social-media {
        display: flex;
    }



    // about section
    .about-right {
        .about-section {
            padding: 5rem 5rem 0;
        }

        .about-right {
            grid-area: aboutRight;
            overflow: hidden;
        }

        .about-left {
            align-items: start;
        }

        .about-img {
            width: 360px;
            height: 360px;
        }

        .about-left img {
            width: 340px;
            height: 340px;
        }

        .more-info-container {
            padding: 4rem 3.5rem;
        }

        // quote section
        .quote {
            p:first-child {
                margin-bottom: 2rem;
                line-height: 2rem;
            }
        }

        .quote-container {
            height: 300px;
            width: 70%;
        }
    }

    // skill section
    .skill-container {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 1rem 3rem;
        gap: 2rem;
        max-width: 1400px;
        margin: auto;
        grid-template-areas:
            "card1 card1 card2"
            "card3 card4 card4";

        .skills-card {
            width: 100%;
            min-height: 330px;
            // justify-content: space-between;

            .skills-icon-container {
                height: 100%;

                .skill-container {
                    width: 8rem;
                    height: 8rem;

                    img {
                        width: 4rem;
                    }

                    p {
                        font-size: 1.2rem;
                        white-space: nowrap;
                    }
                }
            }
        }


        .card-1 {
            grid-area: card1;
            width: 100%;
        }

        .card-2 {
            grid-area: card2;
        }

        .card-3 {
            grid-area: card3;
        }

        .card-4 {
            grid-area: card4;
        }



        // portfolio 
        .card-wrapper {
            max-width: 1400px;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 4em 2rem;

        }

        .portfolio-content {
            padding: 2rem .6rem 3rem;
            gap: 2rem;
        }

        .portfolio-popup-content-container {
            flex-direction: row;

            .content-container {
                width: 50%;
                justify-content: space-between;

                .portfolio-popup-content-description {
                    padding: 2rem;
                }

                .portfolio-popup-btn-group {
                    gap: 4rem;
                    justify-content: flex-end;
                }
            }



        }

        .btn-contact {
            align-self: flex-start;
        }


    }


    @media (min-width: 1200px) {
        .nav {
            .nav-links {
                gap: 3rem;
            }
        }

        .home {
            h1 {
                font-size: 11em;
                margin-bottom: 3rem;
            }

            h3 {
                font-size: 1.7rem;
            }
        }

        .about-container {
            grid-template-columns: 1fr 1fr;
            overflow: hidden;
            grid-template-areas:
                'aboutLeft aboutRight'
                'btnGroup aboutRight'
                'waveYellowReverse waveYellowReverse'
                'moreInfo moreInfo'
                'waveYellow waveYellow';
        }

        .about-left {
            width: 700px;
            grid-area: aboutLeft;
            align-items: center;
            justify-self: end;

        }

        .about-right {

            max-width: 700px;
            grid-area: aboutRight;
            margin-bottom: 0;

            .about-section {
                padding: 2rem 3rem 0rem 2rem;
                margin-bottom: 0;

                h3 {
                    font-size: 1.8rem;
                }

                p {
                    font-size: 1rem;
                }

                strong {
                    font-size: 1rem;
                }

            }
        }

        .about-img {
            width: 520px;
            height: 520px;
        }

        .about-img::after,
        .about-img::before {
            width: 150px;
            height: 150px;
        }

        .about-left img {
            width: 520px;
            height: 520px;
        }

        .more-info-container {
            grid-area: moreInfo;
        }

        .btn-group {
            grid-area: btnGroup;
            width: 700px;
            align-items: start;
            justify-self: end;
        }

        .wave-yellow {
            grid-area: waveYellow;
            margin-bottom: 4rem;

        }

        .wave-yellow-reverse {
            grid-area: waveYellowReverse;
        }

        .quote {
            padding: 6rem 3rem;

            .quote-container {
                width: 60%;

                max-width: 1400px;
            }
        }


    }
}