//*  =========================== qoute section ============================================*/

.quote {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content:center;
    padding: 2rem 1.7rem;
    min-height: 600px;
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url('../assets/img/qoute_section-bg.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    z-index: -1;
    margin: 7rem 0;

    .linear {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(17, 17, 17, 1) 10%, rgba(10, 10, 10, .1) 25%,
                rgba(10, 10, 10, .1) 40%, rgba(10, 10, 10, .1) 75%, rgba(17, 17, 17, 1) 100%);

    }

    p {
        font-size: 1.5rem;
        margin: .6rem;
        line-height: 2rem;
        letter-spacing: 1.7px;
    }

    p:first-child {
        font-family: $font-family-satoshi;
        color: $main-color;
        letter-spacing: 2px;
    }

    p:last-child {
        color: $main-color-6;
        font-family: $font-family-chill;
    }
}

.quote-container {
    width: 100%;
    height: 250px;
    z-index: 1;
    margin: 1rem auto;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 0 0 0 1rem;
}

