//! Fonts

@font-face {
    font-family: "Satoshi";
    src: url(../fonts/Satoshi-Variable.ttf);
}

@font-face {
    font-family: "Gam-i";
    src: url(../fonts/Gambetta-VariableItalic.ttf);
}

@font-face {
    font-family: "Chill";
    src: url(../fonts/Chillax-Variable.ttf);
}



//! main colors  
$main-color: #dac5a7;
$main-color-8: #fee3bd;
$main-color-7: rgba(218, 197, 167, .68);
$main-color-6: rgba(218, 197, 167, .6);
$main-color-blue: #1b7ce4;
$main-color-darker: #f3a70f;
$main-color-2: rgba(218, 197, 167, 0.2);
$main-red: #db5a42;
$gray-100: #797979;
$black: #000;
$white-100: #ffffff;


//! borders
$border: 1px solid rgba(218, 197, 167, .15);
$border-2: 2px solid $main-color-6;
$border-3: 2px solid rgba(218, 197, 167, .15);

//! font family 
$font-family-satoshi: "Satoshi";
$font-family-chill: "Chill";
$font-family-gam-i: "Gam-i";


//! backgrounds 
$bg-dark: rgb(17, 17, 17); //main bg
$bg-dark-2: #191919;
$bg-color: #0a0a0f;
$bg-dark-light: #1a1a1a;
$bg-light-darker: #2A2A30;
$bg-card: #44444477;


//!  btn color 
$btn-color-dark: #111;

//!  box shadows 
$box-shadow-dark: 0 5px 10px rgba(0, 0, 0, 0.2);
$box-shadow-card: 4px 4px 10px $black;

//! text color 
$text-color-light: #ddd;
$text-grey-light: #666;
$text-color-gray: #a3a3a3;
    

//! linear gradient 
$blog-linear: linear-gradient(135deg, $main-color-2, $main-color-2);
$footer-linear: linear-gradient(135deg, $main-color-6 20%,  #11111166);
$bg-linear-gradient: linear-gradient(rgba(10, 10, 10, 0.7), rgba(10, 10, 10, .8), rgb(17, 17, 17)75%), url(../assets/img/BG-gray.webp) center/cover;
$bg-linear-gradient-light: linear-gradient(rgba(255, 255, 255, .8), #fff), url(../assets/img/BG-gray.webp) center/cover;