
@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
};




@keyframes moving_arrow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
};