@import 'variables';

/*  css reset  */
html {
    box-sizing: border-box;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
}

/* general style */
body {
    font-family: $font-family-chill;
    background-color: $bg-dark;
    color: $text-color-gray;
    min-width: 350px;
    overflow-x: hidden;
    position: relative;
}



li {
    list-style: none;
}

img {
    width: 100%;
}



@keyframes moveBlob {
    0% {
        transform: translate(150%, 0) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }

    50% {
        transform: translate(40%, -10%) rotate(-10deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }

    75% {
        transform: translate(70%, -60%) rotate(90deg);
        border-radius: 76% 24% 33% 67% / 68% 55% 45% 32%;
    }

    100% {
        transform: translate(150%, 0) rotate(-90deg);
        border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    }
}

.blob {
    position: absolute;
    width: 1000px;
    height: 1000px;
    background: linear-gradient(0deg, rgba(24,148,240,1) 0%, rgba(8,17,96,1) 100%);
    transform: translate(110%, 0) rotate(-90deg);
    border-radius: 24% 76% 35% 65% / 27% 36% 64% 73%;
    // animation: moveBlob 25s infinite normal;
    animation-name: moveBlob;
    animation-duration: 25s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
  
    filter: blur(10vh);
    z-index: -1;
}


/*  Buttons */
%btn-attributs {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: $font-family-satoshi;
    text-transform: uppercase;
    font-weight: 400;
    border-radius: 2px;
    font-size: .8rem;
    letter-spacing: 1.5px;
    cursor: pointer;
    height: 3rem;
    width: fit-content;
    position: relative;
    padding: .3rem 1rem;
    transition: .4s;
    gap: .8rem;
    white-space: nowrap;
    z-index: 0;
    box-shadow: 4px 4px 8px $black;
    opacity: .8;
}


.btn {
    @extend %btn-attributs;
    background-color: $main-color;
    color: $btn-color-dark;
    border: 2px solid $main-color;

    svg {
        font-size: 1rem
    }

    &:hover {
        opacity: 1;
        border: 2px solid $main-color;
        box-shadow: none;

    }
}



//* touch screen only                                                          
@media (hover: none) and (pointer: coarse) {
    .btn {
        &:hover {
            color: $bg-dark-light;
            background: $main-color;
        }
    }

    .btn:active {
        border: 2px solid $main-color;
        box-shadow: none;
        background: $main-color;
        color: $btn-color-dark;
    }
}





.btn-secund {
    @extend %btn-attributs;
    opacity: .8;
    background-color: $btn-color-dark;
    color: $main-color;
    border: 2px solid $main-color;

    &:hover {
        opacity: 1;
        border: 2px solid $main-color;
        box-shadow: none;
        background-color: rgba($main-color-2 , .1);
    }
}

.back-btn {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    &.btn {
        gap: .3rem;
    }
}




.about-btn:active svg,
.about-btn:hover svg {
    transform: translateX(8px);
}

.btn> {
    svg {
        font-size: 1.5rem;
        font-weight: 600;
        transition: .4s ease;
    }
}


.btn> {
    a {
        color: inherit;
    }
}

.btn:active {
    transform: scale(.95);
}




//* touch sreen    - ne ugráljun a háttér ha ráklikkelünk  
a,
.icons {
    -webkit-tap-highlight-color: transparent;
}


@import 'language_selector';
@import 'mainHeading';
@import 'header';
@import 'home';
@import 'about';
@import 'aboutInfo';
@import 'quote';
@import 'skills';
@import 'projects';
@import 'blog';
@import 'contact';
@import 'footer';
@import 'scrollUpIcon';
@import 'subPages';
@import 'mediaQueries';